<div class="user king">
  <div class="pic">

  </div>
  <div class="name">
    Thiago Rodrigues
  </div>
  <div class="scores">
    6969 <span>scores</span>
  </div>
</div>

<div class="user">
  <div class="pic">

  </div>
  <div class="name">
    Thiago Rodrigues
  </div>
  <div class="scores">
    6969 <span>scores</span>
  </div>
</div>

<div class="user">
  <div class="pic">

  </div>
  <div class="name">
    Thiago Rodrigues
  </div>
  <div class="scores">
    6969 <span>scores</span>
  </div>
</div>
