<%= render 'welcome/header' %>

<div id="congrats" class="block-content">
  <h1>Congratulations!!</h1>
  <div class="content">
    <%= link_to 'Start a new game', game_hero_path, class: "btn btn-outline-primary btn-lg" %>
  </div>
</div>
