<%= render 'welcome/header' %>

<div id="hero" class="block-content">
  <h1>Choose a Hero</h1>
  <div class="content col-lg">
    <fieldset class="form-group hero">
      <div class="row">
        <div class="col-md col-sm">
          <div class="form-check fred">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="fred" value="fred">
              Fred
            </label>
          </div>
        </div>
        <div class="col-lg col-sm">
          <div class="form-check chloe">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="chloe" value="chloe">
              Chloe
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg col-sm">
          <div class="form-check greg">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="greg" value="fred">
              Fred
            </label>
          </div>
        </div>
        <div class="col-lg col-sm">
          <div class="form-check piu">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="new" value="chloe">
              new
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <%= link_to 'Continue', game_world_path, class: "btn btn-outline-primary btn-lg" %>
  </div>

</div>

<%= render 'welcome/footer' %>
