<%= render 'welcome/header' %>

<div id="map" class="container content">
  <h1>Map</h1>
  <div class="block">
    <%= link_to 'Stage 1', game_stage_path, class: "btn btn-outline-primary" %>
    <p>Stage 2</p>
    <p>Stage 3</p>
  </div>
</div>

<%= render 'welcome/footer' %>
