<%= render 'welcome/header' %>

<div id="world" class="block-content">
  <h1>Choose a world</h1>
  <div class="content">

    <fieldset class="form-group world">
      <div class="row">
        <div class="col-md-4">
          <div class="form-check languange html">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="html" value="HTML 5">
              HTML 5
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check languange css">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="css" value="CSS 3">
              CSS 3
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check languange js">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="js" value="JavaScript">
              JavaScript
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-check languange html locked">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="node" value="Node JS">
              Node JS
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check languange css locked">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="rails" value="Rails">
              Ruby on Rails
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check languange js locked">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="heroradios" id="python" value="Python">
              Python
            </label>
          </div>
        </div>
      </div>

    </fieldset>
    <%= link_to 'Start adventure', game_map_path, class: "btn btn-outline-primary btn-lg" %>
  </div>
</div>

<%= render 'welcome/footer' %>
