<%= render 'welcome/header' %>

<div id="home" class="block-content">
  <h1>Welcome to Fredfy on Rails</h1>
  <div class="content">
    <%= link_to 'Start a new game', game_hero_path, class: "btn btn-outline-primary btn-lg" %>
  </div>
</div>

<%= render 'welcome/footer' %>
