<%= render 'welcome/header' %>

<div id="home" class="container content">
  <h1>Welcome to Fredfy on Rails</h1>
  <div class="block">
    <%= link_to 'Start a new game', game_hero_path, class: "btn btn-outline-primary" %>
  </div>
</div>

<%= render 'welcome/footer' %>
