<%= render 'welcome/header' %>

<div id="ranking" class="block-content">
  <h1>Ranking</h1>
  <div class="content">
    <div class="ranking">
      <%= render 'game/ranking-list' %>
    </div>
  </div>
</div>

<%= render 'welcome/footer' %>
