<%= render 'welcome/header' %>

<div id="ranking" class="block-content">
  <h1>Ranking</h1>
  <div class="content">
    <div class="ranking">
      <div class="user king">
        <div class="pic">

        </div>
        <div class="name">
          Thiago Rodrigues
        </div>
        <div class="scores">
          6969 scores
        </div>
      </div>
      <div class="user">
        <div class="pic">

        </div>
        <div class="name">
          Thiago Rodrigues
        </div>
        <div class="scores">
          6969 <span>scores</span>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'welcome/footer' %>
