<%= render 'welcome/header' %>

<div id="recover" class="container content">
  <h1>Recover your email</h1>
  <div class="block">
    <p>bla bla bla</p>
  </div>
</div>

<%= render 'welcome/footer' %>
