<%= render 'welcome/header' %>

<div id="recover" class="block-content">
  <h1>Recover your email</h1>
  <div class="content">
    <div class="form-sign">
      <form>
        <div class="form-group">
          <label for="username">Enter your email</label>
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-primary">Recover your access</button>
      </form>
    </div>
  </div>
</div>

<%= render 'welcome/footer' %>
