// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Bungee|Press+Start+2P|Roboto');
// font-family: 'Press Start 2P', cursive;
// font-family: 'Bungee', cursive;
// font-family: 'Roboto', sans-serif;

// global
body{
  background: $bg-main;
}

html .container-fluid {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1em;
}

a{
  color: #666;
  &:hover {
    color: #222;
  }
}


// header
.navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.logo h1 {
  font-family: 'Bungee', Impact, Arial;
  font-size: 2em;
  & a {
    color: $tx-a;
  }
}

.logo h2 {
  font-family: 'Press Start 2P', Verdana, Arial;
  font-size: .8em;
  margin-top: -10px;
}

.mr-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar-nav a{
  text-transform: uppercase;
  font-size: .9em;
}

// footer

#footer {
  max-width: $sz-full;
  margin: 10px auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;

  & > div {
    display: flex;
  }
  & .logo {
    flex-direction: column;
    flex-grow: 1;
    opacity: .3;
  }
  & .links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

// index

#world .btn,
#hero .btn,
#home .btn{
  width: 300px;
  margin: auto;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  left: 0;
}

// content
.block-content {
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  padding: 30px 20px 50px;

  & > h1 {
    font-family: 'Press Start 2P', Verdana, Arial;
    font-size: 1.5em;
    text-align: center;
  }
}

.content{
  max-width: $sz-xxl;
  margin: auto;
  padding: 20px;
}


/****************************/
/****************************/
/****************************/

/*EXTRA_LARGE SCREENS*/
@media (max-width: 1199px) {
  .content{
    max-width: $sz-full;
  }

  #footer {
    max-width: $sz-full;
  }

} /*END max-width: 1199px*/


/*LARGE SCREENS*/
@media (max-width: 991px) {


} /*END LARGE SCREENS - max-width: 991px*/


/*MEDIUM SCREENS*/
@media (max-width: 767px) {


} /*END MEDIUM SCREENS - max-width: 767px*/


/*SMALL SCREENS*/
@media (max-width: 575px) {


} /*END SMALL SCREENS - max-width: 575px*/
