// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_variables.scss';
@import '_placeholder.scss';
@import url('https://fonts.googleapis.com/css?family=Bungee|Press+Start+2P|Roboto');
// font-family: 'Press Start 2P', cursive;
// font-family: 'Bungee', cursive;
// font-family: 'Roboto', sans-serif;

// global
body {
  background: $bg-main;
}

html .container {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1em;
  max-width: 100% !important;
}

a {
  color: #666;
  &:hover {
    color: #222;
  }
}

// header
.navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.logo h1 {
  font-family: 'Bungee', Impact, Arial;
  font-size: 2em;
  & a {
    color: $tx-a;
  }
}

.logo h2 {
  font-family: 'Press Start 2P', Verdana, Arial;
  font-size: 0.8em;
  margin-top: -10px;
}

.mr-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar-nav a {
  text-transform: uppercase;
  font-size: 0.9em;
}

// footer
#footer {
  max-width: $sz-full;
  margin: 10px auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;

  & > div {
    display: flex;
  }
  & .logo {
    flex-direction: column;
    flex-grow: 1;
    opacity: 0.3;
  }
  & .links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

// content
.block-content {
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  padding: 30px 20px 50px;

  & > h1 {
    font-family: 'Press Start 2P', Verdana, Arial;
    font-size: 1.5em;
    text-align: center;
  }
}

.content {
  max-width: $sz-xxl;
  margin: auto;
  padding: 20px;
}

// homepage
#gameover .btn,
#congrats .btn,
#world .btn,
#hero .btn,
#home .btn {
  width: 300px;
  margin: auto;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  left: 0;
}

.landing-img {
}

// ranking
.ranking {
  & .user {
    & .pic {
    }
    & .name {
      font-family: 'Press Start 2P', Verdana, Arial;
      font-size: 0.8em;
    }
    & .scores {
      & span {
      }
    }
  }
  & .king {
  }
}

// hero
.hero {
  & .form-check {
    margin: 20px 0;

    & label {
      display: block;
      width: 450px;
      min-height: 200px;
      margin: auto;
      background: white;
      border-radius: 10px;
      text-align: center;
      box-sizing: border-box;
      padding: 20px;
      text-transform: uppercase;
      border: 1px solid white;
    }
    & label:hover {
      background: rgba(0, 123, 255, 0.5);
      border: 1px solid rgba(0, 123, 255, 1);
    }
    & input {
      // display: none;
    }

    & input[type='radio']:checked + label {
      background: red !important;
    }
  }
  & .locked {
  }
  & .fred {
  }
  & .chloe {
  }
  & .greg {
  }
  & .piu {
  }
  & .ciara {
  }
  & .liz {
  }
}

// world
.world {
  & .form-check {
    margin: 10px 0;
    & label {
      display: block;
      width: 300px;
      min-height: 350px;
      margin: auto;
      background: white;
      border-radius: 10px;
      text-align: center;
      box-sizing: border-box;
      padding: 20px;
      text-transform: uppercase;
      border: 1px solid white;
    }
    & label:hover {
      background: rgba(0, 123, 255, 0.5);
      border: 1px solid $b-blue;
    }
    & input {
      // display: none;
    }
    & input[type='radio']:checked + label {
      background: red !important;
    }
  }
  & .languange {
  }
  & .html {
  }
  & .css {
  }
  & .js {
  }
}

// Map
#map {
  background: linear-gradient(
    #22a7f0,
    #19b5fe,
    #89c4f4 50%,
    #5b8930 20%,
    #006442,
    #407a52
  );
}
#map .journey {
  & .greetings {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
  }
  & .phases {
    width: 100%;
    flex-direction: column !important;
    display: flex;
    & .row {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      & .stage {
        display: flex;
        margin: 20px;
        & a {
          padding: 10px;
          width: 55px;
          height: 55px; // background: white; // border: 1px solid #333;
          font-size: 0.6em;
          display: block;
          text-align: center;
          word-wrap: break-word;
        }
      }
      & .stage.disabled a {
        opacity: 0.3;
        cursor: default;
        &:hover {
          background: $bg-main;
          border: 1px solid $b-blue;
          color: $b-blue;
        }
      }
    }
    & .one {
      height: 150px;
      background: #fafafa;
    }
    & .two {
      height: 300px;
      background: #f3f3f3;
    }
    & .three {
      height: 450px;
      background: #eee;
    }
    & .four {
      height: 750px;
      background: #e3e3e3;
    }
    & .five {
      height: 1300px;
      background: #d3d3d3;
    }
  }
}
#map .invetory {
  display: flex;
  flex-direction: column;
  h3 {
    @extend %header-box;
  }
  & .itens {
    @extend %box-map;
    @extend %be-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 0;
      width: 40%;
    }
    & .disabled {
      opacity: 0.2;
    }
  }
  & span {
    width: 50px;
    min-height: 50px;
    display: flex;
    background-image: image-url('inventory.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 40px;
    padding: 10px;
    background-color: red;
    border-radius: 8px;
    margin-right: 10px;
  }
  & p {
    display: flex;
    margin: 0;
  }
}
#map .details {
  & .profile {
    margin: 20px 0;
    @extend %box-map;
  }
  & .ranking {
    h3 {
      @extend %header-box;
    }
    & > div {
      @extend %box-map;
    }
  }
}
// stage
#stage .story {
  padding: 10px;
  margin: 10px;
  border: 1px solid #222;
  & .dialogue {
    & h1 {
    }
    & .text {
    }
  }
  & .hero {
    & .says {
    }
    & .character {
    }
  }
}
#stage .quest-list {
  & .question {
    & .title {
    }
    & .answers {
    }
    & .ok-answer {
    }
  }
}
#stage .status {
  & .help-cards {
  }
  & .helth {
  }
  & .scores {
    & span {
    }
  }
}
#stage .terminal {
  width: 50px;
  height: 50px;
  background-image: image-url('terminal.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 40px;
}
#stage .view-map {
  width: 50px;
  height: 50px;
  background-image: image-url('map.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 40px;
}
/* ************************** */
/* ************************** */
/* ************************** */
/* EXTRA_LARGE SCREENS */
@media (max-width: 1199px) {
  .content {
    max-width: $sz-full;
  }
  #footer {
    max-width: $sz-full;
  }
}
/* END max-width: 1199px */
/* LARGE SCREENS */
@media (max-width: 991px) {
}
/* END LARGE SCREENS - max-width: 991px */
/* MEDIUM SCREENS */
@media (max-width: 767px) {
}
/* END MEDIUM SCREENS - max-width: 767px */
/* SMALL SCREENS */
@media (max-width: 575px) {
}
/* END SMALL SCREENS - max-width: 575px */
// ///
// ///
// ///
// ///
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 140px;
  left: -20px;
  transform: translate(0, 10px);
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: '';
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}
